* {
    background-color: darkslategray;
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main {
    font-family: 'Macondo';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

}

li {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    font-size: small;
}

.hide {
    display: none;
}

.header {
    font-size: 3rem;
    font-family: 'Macondo';
}

button {
    background-color: brown;
    width: 7rem;
}

#questions {
    display: block;
    justify-content: center;
    align-items: center;

}

.choices {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-right: .5rem;
    font-size: 5rem;
}

.timer-count {
    margin: 1rem;
    font-size: larger;
}

img {
    width: 15rem;
    padding: 1rem;
}